.miniBlock{
    background-color: #3c8dbc;
    padding: 1px 10px;
    color: #fff;
    border: 1px solid #367fa9;
    border-radius: 4px;
    cursor: default;
    float: left;
    margin-right: 5px;
    margin-top: 5px;
    list-style-type:none;
}
.miniBlock .controll{
    cursor: pointer;
    margin-right: 5px;
    margin-left: 5px;
    color: rgba(255,255,255,0.7);
    display: inline-block;
    font-weight: bold;
}